html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #f7ebc2;
    color:#302b4e;
    font-family:  Geneva
  }

#banner{
  text-align: center;
}

#menu{
  text-align:center;
}

#content{
  padding-left:25px;
}

.hentry{
  background-color: #F2EFE9;
  inline-size: 500px;
  border-radius: 15px;
  padding: 0px 0px 0px 15px;
}

#contentinfo{
  text-align: center;
}