html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #f5db86;
    color:#342828;
    font-family: 'Courier New', Courier, monospace
  }

#banner{
  text-align: center;
}

#menu{
  text-align:center;
}

#content{
  padding-left:25px;
}

.hentry{
  /* source used to make card effect:
  https://www.w3schools.com/css/css_padding.asp
  https://www.w3schools.com/howto/howto_css_cards.asp
  
  License: Copyright 1999-2023 by Refsnes Data
  */
  background-color:#F2EFE9;
  inline-size: 500px;
  border-radius: 15px;
  padding: 0px 0px 0px 15px;
}

#contentinfo{
  text-align: center;
}

.entry-title{
  text-align: left;
}
